<mat-card class="extend">

</mat-card>
<mat-card class="form">
  <div class="logo">
    <img src="/assets/images/logo1.png" alt="bbase">
  </div>
  <div class="spacer"></div>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mat-form-field class="full-width">
      <mat-icon matPrefix>person</mat-icon>
      <input type="text" matInput placeholder="Username"
        formControlName="username"
        #username>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-icon matPrefix>lock</mat-icon>
      <input type="password" matInput placeholder="Password"
        formControlName="password"
        #password>
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="!form.valid"
      class="full-width" color="primary">Log In</button>

    <span class="left full-width">
      <a mat-button color="accent" class="full-width" routerLink="../forgot-password">Forgot Password?</a>
    </span>
  </form>
  <div class="spacer"></div>
  <span class="left full-width">
      <small>Don't have an account?</small> <a mat-button color="accent" routerLink="../signup">Create One</a>
  </span>

</mat-card>