@import '~styles/functions';

:host {
    @include flex-row();
    padding: 5px 10px 5px;

    .mat-button {
        padding: 0 3px;
        width: initial;
        min-width: unset;
        font-size: 1.3em;
    }
}