<mat-card class="content">
  <h2>Password recovery email sent!</h2>
  <hr>
  <div *ngIf="hasError; else no_error">
    <h3>There is a small problem</h3>
    <h4><span color="primary">{{ errorMessage }}</span></h4>
  </div>
  
  <ng-template #no_error>
    <p>An email has been sent to <span color="primary">{{ email }}</span> with further instructions on how to reset your password.</p>
    <p>Please complete this process within the next 25 minutes. Otherwise, your reset token will expire, and you will be asked to restart the password reset process.</p>
  </ng-template>
  
  <a mat-button color="accent" routerLink="/">Go back to home</a>
</mat-card>