<mat-card class="content" *ngIf="hasError; else no_error">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="bbase">
  </div>

  <h2>{{ i18n.t('Reset Password') }}</h2>
  <h3>{{ i18n.t('There is a small problem') }}</h3>
  <hr>
  <h4>{{ i18n.t('This link isn\'t valid') }}</h4>
  <div class="spacer"></div>
</mat-card>

<ng-template #no_error>
  <mat-card class="form">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="bbase">
    </div>

    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <mat-form-field class="full-width">
        <input type="password" matInput
          placeholder="{{ i18n.t('Password') }}"
          formControlName="password"
          #password>
        <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')"
          [innerHTML]="i18n.t('{0} is <strong>required</strong>') | replace : i18n.t('Password')">
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <input type="password" matInput 
          placeholder="{{ i18n.t('Confirm Password') }}"
          formControlName="confirmPassword"
          #confirmPassword>
        <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.hasError('required')"
          [innerHTML]="i18n.t('{0} is <strong>required</strong>') | replace : i18n.t('Confirm Password')">
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.hasError('MatchPassword')"
          [innerHTML]="i18n.t('{0} and {1} <strong>do not match</strong>') | replace : i18n.t('Password') : i18n.t('Confirm Password')">
        </mat-error>
      </mat-form-field>
    
      <button type="submit" mat-raised-button [disabled]="!form.valid"
         class="full-width" color="primary">{{ i18n.t('Send') }}</button>
    </form>
    <div class="spacer"></div>
  </mat-card>

  <mat-card class="extend">
  </mat-card>  
</ng-template>
