<mat-card class="content">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="{{ i18n.t('bbase') }}">
  </div>
  
    
  <h2>{{ i18n.t('Password recovery email') }}</h2>
  <hr>
  <div *ngIf="hasError; else no_error">
    <h3>{{ i18n.t('There is a small problem') }}</h3>
    <h4><span color="primary">{{ errorMessage }}</span></h4>
  </div>
  
  <ng-template #no_error>
    <h4 [innerHTML]="i18n.t('An email has been sent to {0} with further instructions on how to reset your password.') | replace : email"></h4>
    <h4>{{ i18n.t('Please complete this process within the next 25 minutes. Otherwise, your reset token will expire, and you will be asked to restart the password reset process.') }}</h4>
  </ng-template>
  
  <div class="spacer"></div>

  <div class="centered">
    <a mat-button color="accent" routerLink="/security/forgot-password">{{ i18n.t('Go back') }}</a>
    <a mat-button color="accent" routerLink="/">{{ i18n.t('Go home') }}</a>
  </div>

  <div class="spacer"></div>
</mat-card>