@import '~styles/variables';

@mixin forms() {
    .form {
        a {
            font-weight: bold;
            min-width: initial;
            padding: 0;
        }
    }
    
    .mat-form-field {
        .mat-input-element {
            padding-bottom: 4px;
        }
    
        .mat-input-prefix {
            margin-right: 5px;
        }    
    }
    
    .mat-error {
        text-align: right;
    }
}