@import '~styles/paletes';

$mobile-width: 600px;

$app-background-theme: map-get($app-theme, background);
$app-background: mat-color($app-background-theme, background) !default;

$app-transparency: 0.5;
