@import '~styles/functions';


@mixin visual-components() {
    .view-component {
        @include flex-column();
        flex-direction: row;
        padding: 5px 10px 5px;

        @media (max-width: $mobile-width) {
            padding: 0;
        }

        .logo {
            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;

            img { 
                max-width: 60%;
            }
        }
    }
}