@import '~styles/functions';

html {
    body {
        .view-component {
            @include flex-column();
            flex-direction: row-reverse;
            padding: 5px 10px 5px;

            .logo {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;

                img { 
                    max-width: 60%;
                }
            }
        }

        @media (max-width: 600px) {
            .view-component {
                padding: 0;
            }
        }
    }
}