@import '~styles/functions';

html{
    @include flex-column();
    height: 100%;
    overflow: hidden;

    body {
        @include flex-column();
        font-family: Raleway;
        margin: 0;
        overflow: hidden;

        .spacer {
            flex: 1 1 auto;
        }

        .full-width {
            display: block;
            width: 100%;
        }

        .mat-input-prefix {
            margin-right: 5px;
        }

        .extend {
            background-color: rgba(255, 255, 255, 0.8);
            flex: 3;
        }

        .form {
            @include flex-column();
            background-color: rgba(255, 255, 255, 0.95);
            min-width: 360px;
            overflow: auto;

            a {
                font-weight: bold;
                min-width: initial;
                padding: 0;
            }
        }
            
        .is-mobile {
            .extend {
                display: none !important;
            }

            .form {
                @include flex-column();
                min-width: initial;
            }
        }
    }
}
