@import '~styles/functions';
@import '~styles/variables';
@import '~styles/visual-components';
@import '~styles/forms';
@import '~styles/miscellaneous';

html{
    @include flex-column();
    height: 100%;
    overflow: hidden;

    body {
        @include flex-column();
        background-image: url(/assets/images/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Raleway;
        margin: 0;
        overflow: hidden;

        @include visual-components();
        @include forms();
        @include miscellaneous();
    }
}
