<mat-card class="form">
  <div class="logo">
    bbase
  </div>
  <h2>Forgot your password?</h2>
  <p><b>bbase</b> will send password reset instructions to the email address associated.</p>
  <div class="spacer"></div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mat-form-field class="full-width">
      <mat-icon matPrefix>email</mat-icon>
      <input type="email" matInput
        formControlName="email" placeholder="Email"
        #email>
    </mat-form-field>
  
    <button type="submit" mat-raised-button [disabled]="!form.valid"
      class="full-width" color="primary">Send</button>
  </form>
  <div class="spacer"></div>
</mat-card>
<mat-card class="extend">

</mat-card>