@import '~styles/functions';

:host {
    @include flex-column();

    .container {
        @include flex-column();

        .logo {
            color: inherit;
            text-decoration: none;
        }
        
        .sidenav-container {
            @include flex-column();
            overflow: hidden;

            .mat-sidenav-content {
                @include flex-column();
                max-height: calc(100vh - 56px);
                overflow: auto;
            }
        }
    }
}