@import '~styles/functions';
@import '~styles/variables';

:host {
    @include flex-column();

    .container {
        @include flex-column();

        .logo {
            color: inherit;
            text-decoration: none;
        }
        
        .sidenav-container {
            @include flex-column();
            background-color: rgba($sec-app-theme-bg, $sec-app-transparency);
            overflow: hidden;

            .mat-sidenav-content {
                @include flex-column();
                max-height: calc(100vh - 56px);
                overflow: auto;
            }
        }
    }
}