:host {
    display: flex;
    flex: 1;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        .sidenav-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: hidden;

            .mat-sidenav-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                max-height: calc(100vh - 56px);
                overflow: auto;
            }
        }
    }
}