<mat-card class="extend">

</mat-card>
<mat-card class="form">
  <h2>Sign up</h2>
  <form>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Confirm Password">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Email">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Firstname">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Lastname">
    </mat-form-field>
    
    <button type="submit" mat-raised-button class="full-width" color="primary">Sign up</button>
  </form>
  <div class="spacer"></div>
  <span class="left full-width">
      Do you have an account? <a mat-button routerLink="../signin">Log in</a>
  </span>  
</mat-card>